* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #111827;
  --color-indigo-500: #6366f1;
  --color-indigo-400: #818cf8;
  --color-indigo-600: #4f46e5;
  --color-gray-600: #4b5563;
  --color-gray-500: #6b7280;
  --color-gray-300: #d1d5db;
  --color-white: #ffffff;

  --max-width: 1280px;
}

body {
  font-family: 'Inter', sans-serif;
  background: #111827;
  color: #ffffff;
}

body,
button,
input {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
}

.app {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 24px 39px 0;
}

/* Laptop */
@media (min-width: 1080px) and (max-width: 1439px) {
  .app {
    max-width: 1024px;
    margin: 0 auto;
    padding: 24px 40px 0;
  }
}

/* tablet */
@media (max-width: 1079px) {
  .app {
    padding: 24px 32px 0;
  }
}

/* mobile */
@media (max-width: 833px) {
  .app {
    padding: 16px 16px 0;
  }
}